<footer>
  <header>
    <div>
      <img src="./assets/images/Logo_fondo_negro.png" alt="">
      <h2>COFFE MADE BY <br>SEVERAL HUMANS</h2>
    </div>
    <ul>
      <li>2023 PLURAL</li>
      <li>TÉRMINOS DE USO</li>
      <li>TÉRMINOS Y CONDICIONES</li>
      <li>POLITICA DE PRIVACIDAD</li>
    </ul>
  </header>
  <ul>
    <li>ACERCA DE</li>
    <li>COMUNIDAD</li>
    <li>HISTORIA</li>
    <li>BLOG</li>
  </ul>
  <ul>
    <li>SIGUENOS</li>
    <li>FACEBOOK</li>
    <li>INSTAGRAM</li>
    <li>TWITTER</li>
  </ul>
  <ul>
    <li>AYUDA</li>
    <li>FAQs</li>
    <li>POLITICA DE REEMBOLSO</li>
  </ul>
</footer>
