<header class="header">
  <div class="header__logo">
    <img src="./assets/images/logo_1.png" alt="logo">
    <h1>PLURAL</h1>
  </div>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="">Cursos</a>
      </li>
      <li class="menu__item">
        <a href="">Foro</a>
      </li>
      <li class="menu__item">
        <a href="">Planes</a>
      </li>
    </ul>
  </nav>
  <div class="menu__login">
    <img src="./assets/svg/user-svgrepo-com.svg" alt="">
    <h2>LOG IN</h2>
  </div>
</header>
