<section class="testimonials">
  <header class="testimonials__title">
    <h2>Clients <br> Testimonials</h2>
    <img src="./assets/svg/quotation-marks.svg" alt="">
  </header>
  <ul class="testimonials__list-cards">
    <li class="testimonials__card">
      <div>
        <img src="./assets/images/mujer.jpeg" alt="">
        <h4>Esther Hills</h4>
      </div>
      <p>
        Omnis totam molestiae delectus nemo alias nesciunt harum et. Nobis dolorum excepturi quod vel. Sunt est qui ab
        non dolores repellat rem impedit dolores. Ut ea rerum cum eum. Alias dolores tempore illo accusantium est et
        voluptatem voluptas.
      </p>
    </li>
    <li class="testimonials__card">
      <div>
        <img src="./assets/images/mujer.jpeg" alt="">
        <h4>Esther Hills</h4>
      </div>
      <p>
        Omnis totam molestiae delectus nemo alias nesciunt harum et. Nobis dolorum excepturi quod vel. Sunt est qui ab
        non dolores repellat rem impedit dolores. Ut ea rerum cum eum. Alias dolores tempore illo accusantium est et
        voluptatem voluptas.
      </p>
    </li>
    <li class="testimonials__card">
      <div>
        <img src="./assets/images/mujer.jpeg" alt="">
        <h4>Esther Hills</h4>
      </div>
      <p>
        Omnis totam molestiae delectus nemo alias nesciunt harum et. Nobis dolorum excepturi quod vel. Sunt est qui ab
        non dolores repellat rem impedit dolores. Ut ea rerum cum eum. Alias dolores tempore illo accusantium est et
        voluptatem voluptas.
      </p>
    </li>
    <li class="testimonials__card">
      <div>
        <img src="./assets/images/mujer.jpeg" alt="">
        <h4>Esther Hills</h4>
      </div>
      <p>
        Omnis totam molestiae delectus nemo alias nesciunt harum et. Nobis dolorum excepturi quod vel. Sunt est qui ab
        non dolores repellat rem impedit dolores. Ut ea rerum cum eum. Alias dolores tempore illo accusantium est et
        voluptatem voluptas.
      </p>
    </li>
  </ul>
</section>
